<section id="about" class="about-section py-5">
  <div class="container">

    <h2 class="section-title text-center mb-5">About Me</h2>

    <div class="row align-items-center">

      <!-- Image -->
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img
          src="assets/MyPhoto.jpg"
          alt="Abhishek More"
          class="about-img"
        />
      </div>

      <!-- Content -->
      <div class="col-md-8">
        <h4 class="mb-3">
          I'm Abhishek More, a <span class="highlight">Java Developer</span>
        </h4>

        <p class="about-text">
          Java Full Stack Developer with hands-on experience in developing scalable web applications
          using Core Java, Spring Boot, Hibernate, JPA, REST APIs, and Angular. Skilled in MySQL,
          Git, and Agile development practices.
        </p>

        <p class="about-text">
          Seeking an entry-level software developer role to contribute to real-world projects and grow
           as a backend-focused engineer.
        </p>

        <a
          href="assets/Abhi.pdf"
          target="_blank"
          class="btn btn-outline-info mt-3"
        >
          Download Resume
        </a>
      </div>

    </div>
  </div>
</section>
